    <main class="text-center mt-5">
    <h2>contato </h2>
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    
    <form action="">
    <div class="text-start form-group">
        <label for="text">Nome completo</label>
        <input class="form-control" type="text" name="Nome completo">
        <label for="email">E-mail</label>
        <input class="form-control" type="email" name="email">
        <label for="text">Assunto</label>
        <input class="form-control" type="text" name="Assunto">
        <label for="text">Corpo do e-mail</e-mail></label>
        <textarea class="form-control" name="textarea" cols="10" rows="3"></textarea>
    </div>
  </form>
</div>

</div>
    </main>